{% extends 'seller_header.html' %}
{% load static %}`
{% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
    
</head>

<body>
					
					<div class="recommended_items"><!--recommended_items-->
						<h2 class="title text-center">Latest clothes</h2>

						<div id="recommended-item-carousel" class="carousel slide" data-ride="carousel">
							<div class="carousel-inner">
								<div class="item active">
									{% for i in clothes %}
									<div class="col-sm-4">
										<div class="box">
											<a href="{% url 'cloth_detail' pk=i.pk %}">
											<div class="product-image-wrapper">
											<div class="single-products">
												<div class="productinfo text-center">
													<img src="{{i.cloth_image.url}}" alt="" />
													 <div class="detail-box">
										                <h6>
										                  {{i.cloth_brand}}
										                </h6>
										                <h6>
										                  Price:
										                  <span>
										                    {{i.cloth_price}}
										                  </span>
										                </h6>
										              </div>
									
													<button type="button" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>Add to cart</button>
												</div>
												<div class="btn btn-primary">
													<span>
														New
													</span>
												</div>
											</div>
										</div>
									</a>
										</div>
									</div>
									{% endfor %}
								</div>
							</div>
							 
						</div>
							
					</div><!--/recommended_items-->
		<div>
			<button type="submit" class="btn btn-primary">VIEW ALL</button>
		</div>
</body>
</html>
{% endblock %}